body{
      background-color: #c7c9bf;
      margin: 0;
      font-family: Arial;
   }
header{
   background-color: #474E2B;
   color: white;
   padding: 20px 0;
   text-align: center;
   width: 150%;
}
nav{
   background-color: #6b7155;
   width: 150%;
 }
nav ul{
      list-style: none;
      padding: 8px 0;
      display: flex;
      justify-content: center;
      max-width: 960px;
      margin: 0 auto;
}
nav li{
   margin: 0 45px;
 }
 nav a{
 color: white;
 display: block;
 }
main {
   max-width: 960px;
   margin: 20px auto;
   padding: 0 20px;
}
table{
   width: 100%;
   border-collapse: collapse;
   margin: 20px 0;
   background-color: white;
   border: 2px solid #6b7155;
 }
#main-table th a {
      max-width: 960px;
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px;
 }
th, td {
   border: 2px solid #6b7155;
   padding: 15px;
   text-align: center;
}
th {
   background-color: #6b7155;
   color: white;
   font-weight: bold;
}
tr.even {
   background-color: #676a5c;
}
tr.odd {
   background-color: #6b7155;
}
tfoot td {
   background-color: #474E2B;
   color: white;
   font-weight: bold;
}
footer {
   background-color: #474E2B;
   color: white;
   text-align: center;
   padding: 10px 0;
   width: 150%;
}






